
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    height: 30px;
    border: none;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: rgb(129, 9, 9);
    margin-top: 80px;
}

.btn1 {
    border: none;
    border-right: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    background-color: rgb(129, 9, 9);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(199, 11, 11);
}

.tlo {
    background-image: url(./img/c1886777393.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 5px;
}

.galeria {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.img1 {
    width: 100px;
    height: 70px;
}

.img2 {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: rgb(129, 9, 9);
    padding: 10px;
    width: 100%;
    border: none;
}

.tekst {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

.ramka2 {
    background-color: rgb(158, 17, 17);
    margin-right: 40px;
    border-bottom: 5px solid rgb(255, 0, 0);
    font-size: 40px;
}

.btn {
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    background-color: rgb(158, 17, 17);
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 30px;
}

.x {
    font-size: 20px;
    margin-left: 10px;
    color: rgba(241, 13, 13, 0.911);
}

.galeria2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(129, 9, 9);
    width: 100%;
    height: 30px;
}

.img3 {
    width: 100%;
    height: 100%;
}

.ramka1 {
    color: rgb(255, 255, 255);
    background-color: rgb(187, 14, 14);
    height: 20px;
    text-align: center;
    margin-top: 2px;
}

.koniec {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: rgb(156, 15, 15);
    margin-top: 200px;
}

.btn2 {
    margin-top: 20px;
    border: none;
    border-right: 2px solid rgb(255, 0, 0);
    border-left: 2px solid rgb(255, 0, 0);
    background-color: rgb(156, 15, 15);
    color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 30px;
}